<%= form_with model: @weather_dashboard do |wd| %>

      <% if @weather_dashboard.errors.any? %>
        <div class="m-2">
          <div id="error_explanation" data-turbo-cache="false">
            <h2>
              <%= I18n.t("errors.messages.not_saved",
                        count: @weather_dashboard.errors.count,
                        resource: @weather_dashboard.class.model_name.human.downcase)
              %>
            </h2>
            <ul  class="text-danger">
              <% @weather_dashboard.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>

      <%end%>
      <h2 class="text-center mt-4 mb-4">Add Weather Card</h2>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group mb-2">
          <%= wd.select :country, @countries, { selected: @weather_dashboard.country, include_blank: 'Select country' }, { class: 'form-select' } %>
          </div>
          <div class="form-group mb-2">
          <%= wd.select :state, [], { selected: @weather_dashboard.state, include_blank: 'Select state' }, { class: 'form-select' } %>
          </div>
          <div class="form-group mb-2">
          <%= wd.select :city, [], { selected: @weather_dashboard.city, include_blank: 'Select city' }, { class: 'form-select' } %>
          </div>
          <div class="form-group mb-2">
          <%= wd.select :forecast_days, Array(1..7), { selected: @weather_dashboard.forecast_days, include_blank: 'Select days of forecast' }, { class: 'form-select' } %>
          </div>
          <%= wd.submit 'Save Weather Card', { class: 'btn btn-outline-info mt-2' }%>
        </div>
      </div>
<% end %>

<script>
  $( document ).ready(function() {
    $('#weather_dashboard_country').on('change', function() {
      $.ajax({
        method: "GET",
        dataType: "JSON",
        url: "<%= update_state_options_weather_dashboards_path %>",
        data: { country_code: $(this).val() }
      }).done(function( data ) {
        updateOptions($("#weather_dashboard_state"), data.states)
        updateOptions($("#weather_dashboard_city"), data.cities)
      }).fail(function(error) {
        console.error(error)
      });
    });

    $('#weather_dashboard_state').on('change', function() {
      let country_code = $('#weather_dashboard_country').val();

      $.ajax({
        method: "GET",
        dataType: "JSON",
        url: "<%= update_city_options_weather_dashboards_path %>",
        data: { country_code: country_code, state_code: $(this).val() }
      }).done(function( data ) {
        updateOptions($("#weather_dashboard_city"), data.cities)
      }).fail(function(error) {
        console.error(error)
      });
    });

    function updateOptions(selectField, options){
      selectField.empty();
      options.forEach( function(option) {
        selectField.append($("<option></option>").attr("value", option[1]).text(option[0]));
      });
    }
  });
</script>
